*.lock
*.log
.metadata/
.recommenders/
*.class
Lab1/.classpath

Lab1/.classpath

Lab1/bin/.classpath

Lab1/.classpath

Lab1/.classpath

Lab1/bin/.classpath

*.xml

Lab1/.classpath

Lab1/.classpath

Lab1/bin/.classpath

Lab1/.classpath

Lab1/.classpath

Lab1/.classpath

Lab1/bin/.classpath

Lab1/.classpath

Lab1/bin/.classpath

Lab1/bin/.classpath

Lab1/bin/formatförändring!.png

Lab1/bin/.classpath

Lab1/bin/.classpath

Lab1/bin/.classpath

Lab1/bin/.classpath

Lab1/.classpath

Lab1/bin/.classpath

Lab1/bin/.classpather

Lab1/bin/.classpather
